*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.a{
    position: relative;
    width: 100%;
    height: 952px;
}
.b{
    position: absolute;
    width: 100%;
    height: 100%;
}
video {
    width: 100%;
    height: 100%;
}
.c{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: 80%;
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
}
.menu>a{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    margin: 0 30px;
}
.menu>a:hover{
    color: black;
    background: red;
    padding: 40px 30px;
    font-size: x-large;
}
.i{
    padding: 30px 0;
}
.column{
    float: left;
    width: 20%;
}
.sp{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 5px white;
    padding: 10px;
    margin: 14%;
    text-align: center;
}
.sp .ten{
    font-size: larger;
    font-variant: small-caps;
    color: white;
}
.sp .ten:hover{
    background-color: #F83030;
}
.sp>a{
    text-decoration: none;
}
.sp>a:hover{
    padding: 40px 30px;
}

footer{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12pt;
}
footer img{
    width: 10%;
    margin-top: 20px;
}